#frst-i{
    padding-top: 200px;
    margin-left: 500px; 
}
.card-title1{
    padding-top: 30px;
    padding-left: 300px;
    font-family: 'Roboto', sans-serif;
}
.card-title{
    padding-left: 200px;
    font-family: 'Roboto', sans-serif;
}
.img1{
    margin-left: 350px;
    padding-top: 150px;
}
.img2{
    padding-top: 300px;
    margin-right: 500px; 
}
#main-p{
    margin-left: 170px;
    font-family: 'Roboto', sans-serif;
}
h5{
    padding-top: 20px;
    margin-right: 150px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#word,#word2,#word3,#word4,#word5,#word6,#word7,#word8{
    position: relative;
    top: -100px;
}
.form-control{
    background: transparent;
    border-radius: 0px;
}
input[type="text"]::-webkit-input-placeholder{
    color: white;
}
input[type="email"]::-webkit-input-placeholder{
    color: white;
}
input[type="text"]::-webkit-input-placeholder{
    color: white;
}
textarea[type="text"]::-webkit-input-placeholder {
    color: #fff;
    }
.s-paragraph{
    display: none;
}
#ok{
    margin-left: 850px;
}